---
import Layout from '../layouts/ProjectPost.astro';
import ResumeViewer from '../components/ResumeViewer.astro';

const resumeUrl = '/james_campbell_field_resume.pdf';
const previewUrl = 'https://drive.google.com/file/d/1jSNugnqAKTQgzVxlorGDd3spywM1Hvrq/preview';
---

<Layout
	title="Resume"
	description="My Professional Resume - James Campbell"
>
	<div class="resume-wrapper">
		<ResumeViewer resumeUrl={resumeUrl} previewUrl={previewUrl} />
	</div>
</Layout>

<style is:global>
	/* Override ProjectPost layout restrictions for the resume page */
	.prose:has(.resume-wrapper) {
		width: 100%;
		max-width: 1000px;
	}

	/* Hide the default title and divider for the resume page */
	.prose:has(.resume-wrapper) .title {
		display: none;
	}

	@media (max-width: 720px) {
		main:has(.resume-wrapper) {
			padding-left: 0;
			padding-right: 0;
			max-width: 100%;
		}
		.resume-wrapper {
			padding: 0;
		}
	}
</style>
